.truncate-container{
  display: inline-block;
  position: relative;
}
.turncated-text{
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
.tooltip-text{
  visibility: hidden;
  background-color:#fff;
  text-align: center;
  padding: 6px 8px;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  bottom: 125%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.turncated-text:hover .tooltip-text{
  visibility: visible;
  opacity: 1;
}

.truncate-container a {
  text-decoration: none;
}